* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
}

/* MESSAGE
*/
.messages {
    position: fixed;
    top: 0;
    right: 0;
}
.message {
    color: black;
    border: 1px black solid;
    padding: 5px 10px;
}
.message_error {
    background: hotpink;
}
.message_info {
    background: cornflowerblue;
}

/* LIST */
.widgetList-content {

}

.widgetList-content-folder {
    display: inline-block;
    vertical-align: top;
    border: 3px silver inset;
    width: 400px;
    margin: 0 50px 50px 0;
    padding: 20px;
}

/* FOLDER */
.folder {
    position: relative;
}
.folder-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    opacity: 0.5;
    display: none;
}
.folder.loading .folder-loader {
    display: block;
}

.folder table {
    width: 100%;
}

.folder td,
.folder th {
    border: 1px green solid;
}